# Copiez ce fichier en ".env" puis lancez l'application
SUPABASE_URL=https://gsvazsseceadhpexfqbo.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdzdmF6c3NlY2VhZGhwZXhmcWJvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQ2MzUxODcsImV4cCI6MjEwMDIxMTE4N30.ZCn0wB2JcP2sYkuWnVaghBQtHV12G39yAsQF72En1i8
PORT=3000
